$Fuente-Principal: 'Montserrat', sans-serif;

//colores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fef46d;
$morado: #752f97;
$negro: #000;
$blanco: #fff;
//medias querys
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
//Fuentes-->font-weight
$F-delgada: 300;
$F-regular: 400;
$F-bold: 700;
$F-black: 900;

//Separaciones
$separacion: 5rem;